

<footer class="text-center text-black" style="margin-top: 150px;" id="footercontainer">
     <div class="container-fluid p-4">
      <section class="mb-4">
            <!-- Facebook -->
          <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i>
           </a>
          <!-- Twitter -->
          <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i>
           </a>
         <!-- Google -->
         <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
           ><i class="fab fa-google"></i>
        </a>
        <!-- Instagram -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
             ><i class="fab fa-instagram"></i>
         </a>
        <!-- Linkedin -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
             ><i class="fab fa-linkedin-in"></i>
        </a>
        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/JaviAres" role="button">
          <i class="fab fa-github"></i>
         </a>
        </section>
        <section class="">
         </section>
        <section class="mb-4">
         <p>
              Administra el stock de Wallabob
         </p>
        </section>
     <div class="text-center p-3 text-white" style="background-color: rgb(62, 60, 54);">
         © 2023 Copyright:
         <a class="text-white" href="/main">Wallabob</a>
    </div>
 </footer>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
